---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import lineSvg from "@svg-icons/line.svg";
import spanishIcon from "@svg-icons/spanish.svg";
import englishIcon from "@svg-icons/english.svg";
import linkedinIcon from "@svg-icons/linkedin.svg";
import githubIcon from "@svg-icons/github.svg";
import mediumIcon from "@svg-icons/medium.svg";
import tableauIcon from "@svg-icons/tableau.svg";
import workIcon from "@svg-icons/work.svg";
import hamburger from "@svg-icons/hamburger.svg";
import Button from "@components/Button.astro";
import CardExperience from "@components/CardExperience.astro";
import SocialMediaTag from "@components/SocialMediaTag.astro";
import InfiniteSliderSkills from "@components/InfiniteSliderSkills.astro";
import { experienceItems } from "@constants/experienceItems";
import { servicesItems } from "@constants/servicesItem";
import { contactItems } from "@constants/contactItems";
import CardServices from "@components/CardServices.astro";
import CardContact from "@components/CardContact.astro";
import Projects from "@components/Projects";
import Awards from "@assets-img/awards.webp";
import Profile from "@assets-img/profile.webp";
import IconLandingPage from "@assets-img/icon-landing-page.webp";
---

<Layout>
  <header
    id="header"
    class="header-animated backdrop-blur-[10px] md:backdrop-blur-0 overflow-visible z-[9999] w-full flex flex-col justify-center items-center pt-6 px-5"
  >
    <div
      class="max-w-screen-xl w-full flex flex-row justify-between gap-4 items-center py-4"
    >
      <a class="max-w-[250px] max-h-[30px]" href="#hero-section">
        <img
          src={IconLandingPage.src}
          alt="Icon Landing Page"
          class="w-full h-full"
        />
      </a>
      <nav
        class="flex flex-row gap-4 sm:gap-8 w-full sm:w-auto justify-end sm:justify-between items-center"
      >
        <ul
          class="hidden md:flex md:flex-row md:justify-between md:items-center md:gap-4"
        >
          <li class="cursor-pointer hover:font-bold">
            <a href="#experience-section" class="w-full h-full">Experiencia</a>
          </li>
          <li class="cursor-pointer hover:font-bold">
            <a href="#projects-section" class="w-full h-full">Proyectos</a>
          </li>
          <li class="cursor-pointer hover:font-bold">
            <a href="#services-section" class="w-full h-full">Servicios</a>
          </li>
          <li class="cursor-pointer hover:font-bold">
            <a href="#contact-section" class="w-full h-full">Contacto</a>
          </li>
        </ul>
        <ul class="flex flex-row justify-between items-center">
          <li class="cursor-pointer min-w-[15px] max-w-[25px]">
            <img src={spanishIcon.src} alt="Spanish Icon" />
          </li>
        </ul>
        <div id="hamburger-icon" class="block md:hidden cursor-pointer">
          <img src={hamburger.src} alt="Hamburger Menu Icon" />
        </div>
      </nav>
    </div>
    <div id="mobile-navbar" class="absolute top-full w-full h-full z-50 hidden">
      <ul class="flex flex-col bg-black justify-center items-center w-full">
        <li
          id="tag-go-to-section"
          class="cursor-pointer w-full h-full text-left rounded-lg py-2 px-4 hover:bg-primary hover:text-white hover:font-bold"
        >
          <a href="#experience-section" class="flex flex-row w-full h-full"
            >Experiencia</a
          >
        </li>
        <li
          id="tag-go-to-section"
          class="cursor-pointer w-full text-left rounded-lg py-2 px-4 hover:bg-primary hover:text-white hover:font-bold"
        >
          <a href="#projects-section" class="flex flex-row w-full h-full"
            >Proyectos</a
          >
        </li>
        <li
          id="tag-go-to-section"
          class="cursor-pointer w-full text-left rounded-lg py-2 px-4 hover:bg-primary hover:text-white hover:font-bold"
        >
          <a href="#services-section" class="flex flex-row w-full h-full"
            >Servicios</a
          >
        </li>
        <li
          id="tag-go-to-section"
          class="cursor-pointer w-full text-left rounded-lg py-2 px-4 hover:bg-primary hover:text-white hover:font-bold"
        >
          <a href="#contact-section" class="flex flex-row w-full h-full"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
  </header>
  <main
    class="flex flex-col justify-center items-center pt-[calc(100px+1rem)] z-40"
  >
    <section
      id="hero-section"
      class="relative max-w-screen-xl px-5 w-full flex flex-col justify-center items-center gap-8 my-8 bg-[url('/patterndesign.svg')] bg-no-repeat bg-center bg-cover"
    >
      <div class="w-28 md:w-36 h-28 md:h-36">
        <img
          src={Profile.src}
          alt="Sebastian Urdanegui Image"
          class="w-full h-full"
        />
      </div>
      <div class="flex flex-col justify-center items-center">
        <h1
          class="text-2xl sm:text-3xl md:text-4xl text-center font-medium text-balance"
        >
          Hola, soy Sebas Urdanegui
        </h1>
        <div class="w-full flex justify-end px-10 sm:p-0">
          <img src={lineSvg.src} alt="Line SVG" />
        </div>
      </div>
      <p
        class="text-3xl sm:text-4xl md:text-5xl text-center font-medium md:px-20 xl:px-52"
      >
        Transformando <span class="bg-primary px-2 rounded-xl"
          >ideas en soluciones</span
        > digitales con código, datos y automatización.
      </p>
      <p
        class="text-txt-custom-gray text-base sm:text-lg text-center md:px-40 xl:px-80"
      >
        <b>Full-stack Developer</b> | <b>Data Analyst & Scientist</b><br />
        Soy especialista en desarrollo web, aplicaciones móviles nativas, automatización
        de procesos, análisis de datos y modelos de ML.
      </p>
      <Button title="Conóceme" href="#experience-section" />
      <div id="social-media-links" class="md:absolute md:left-5 md:bottom-0">
        <div
          class="flex flex-row md:flex-col justify-center items-center gap-4"
        >
          <SocialMediaTag
            svg={linkedinIcon.src}
            alt="Linkedin Profile"
            href="https://www.linkedin.com/in/sebastianurdaneguibisalaya/"
          />
          <SocialMediaTag
            svg={githubIcon.src}
            alt="Github Profile"
            href="https://github.com/SebastianUrdaneguiBisalaya"
          />
          <SocialMediaTag
            svg={mediumIcon.src}
            alt="Medium Profile"
            href="https://medium.com/@sebasurdanegui"
          />
          <SocialMediaTag
            svg={tableauIcon.src}
            alt="Tableau Profile"
            href="https://public.tableau.com/app/profile/sebastian.marat.urdanegui.bisalaya/vizzes"
          />
        </div>
      </div>
    </section>
    <section
      id="experience-section"
      class="max-w-screen-xl px-5 w-full flex flex-col justify-center items-center gap-8 my-8"
    >
      <h2 class="text-2xl sm:text-3xl md:text-4xl text-left font-medium w-full">
        Experiencia
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-0 px-5 md:px-0">
        {
          experienceItems.map((experience, index) => {
            return (
              <div
                class={`${
                  index === 0
                    ? "relative md:col-start-1 md:row-start-1 px-8 border-l-2 md:border-l-0 md:border-r-2 border-l-gray-custom md:border-r-gray-custom"
                    : index === 1
                      ? "relative md:col-start-2 md:row-start-2 px-8 border-l-2 border-l-gray-custom md:-ml-[0.10rem]"
                      : "relative md:col-start-1 md:row-start-3 px-8 border-l-2 md:border-l-0 md:border-r-2 border-l-gray-custom md:border-r-gray-custom"
                }`}
              >
                <div
                  class={`${
                    index === 1
                      ? "absolute top-0 -left-[1.4rem] bg-dark border-2 border-white rounded-full p-1"
                      : "absolute top-0 -left-[1.4rem] md:left-auto md:-right-[1.4rem] bg-dark border-2 border-white rounded-full p-1"
                  }`}
                >
                  <img
                    src={workIcon.src}
                    alt="Work Icon"
                    class="w-[30px] h-[30px]"
                  />
                </div>
                <CardExperience {...experience} />
              </div>
            );
          })
        }
      </div>
    </section>
    <section
      id="skills-section"
      class="max-w-screen-xl px-5 w-full flex flex-col justify-center items-center gap-8 my-8"
    >
      <h2 class="text-2xl sm:text-3xl md:text-4xl text-left font-medium w-full">
        Stack Tecnológico
      </h2>
      <InfiniteSliderSkills />
    </section>
    <section
      id="projects-section"
      class="max-w-screen-xl px-5 w-full flex flex-col justify-center items-center gap-8 my-8"
    >
      <h2 class="text-2xl sm:text-3xl md:text-4xl text-left font-medium w-full">
        Mis Proyectos
      </h2>
      <Projects client:load />
    </section>
    <section
      id="services-section"
      class="max-w-screen-xl px-5 w-full flex flex-col justify-center items-center gap-8 my-8"
    >
      <h2 class="text-2xl sm:text-3xl md:text-4xl text-left font-medium w-full">
        ¿Empezamos a trabajar?
      </h2>
      <p
        class="text-left text-txt-custom-gray w-full text-base sm:text-lg font-light"
      >
        Encuentra el servicio ideal para tus necesidades y comienza tu proyecto
        conmigo.
      </p>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {servicesItems.map((service) => <CardServices {...service} />)}
      </div>
    </section>
    <section
      id="awards-section"
      class="max-w-screen-xl px-5 w-full flex flex-col justify-center items-center gap-8 my-8"
    >
      <h2 class="text-2xl sm:text-3xl md:text-4xl text-left font-medium w-full">
        Reconocimientos
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="w-full h-full flex flex-col justify-center items-center">
          <Image src={Awards} alt="Award 1" />
        </div>
        <div
          class="w-full h-full flex flex-col justify-start items-center gap-4"
        >
          <p
            class="text-left text-lg sm:text-xl font-bold leading-relaxed w-full"
          >
            4° Puesto | Datatón Exprésate Perú con Datos 2023
          </p>
          <p
            class="text-left text-sm sm:text-base font-light leading-relaxed w-full"
          >
            Concurso organizado por la <span class="font-bold"
              >Secretaría de Gobierno y Transformación Digital del Perú</span
            >. El tópico de mi análisis fue la <span class="font-bold"
              >valorización de los días de descanso por accidentes laborales a
              nivel nacional</span
            >. El dataset fue proporcionado por el Ministerio de Trabajo y
            Promoción del Empleo.
          </p>
          <p
            class="text-left text-sm sm:text-base font-bold leading-relaxed w-full"
          >
            Algunos hallazgos:
          </p>
          <p
            class="text-left text-sm sm:text-base font-light leading-relaxed w-full"
          >
            • Setiembre 2022 emerge como el mes con la mayor concentración de
            accidentes laborales en casi un año. Un total de 3,500 incidentes
            resaltan la necesidad de una mayor atención a la seguridad en el
            trabajo.
            <br />
            • El género masculino enfrenta una mayor incidencia de accidentes laborales.
            <br />
            • El seguro de salud ESSALUD emerge como el preferido en ambos géneros,
            resaltando su relevancia en momentos de crisis.
            <br />
            • Las caídas lideran el tipo de accidentes, mientras que el ambiente
            de trabajo es el agente causante más común.
          </p>
        </div>
      </div>
    </section>
    <section
      id="contact-section"
      class="max-w-screen-xl px-5 w-full flex flex-col justify-center items-center gap-8 my-8"
    >
      <h2 class="text-2xl sm:text-3xl md:text-4xl text-left font-medium w-full">
        Charlemos...
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {contactItems.map((contact) => <CardContact {...contact} />)}
      </div>
    </section>
  </main>
</Layout>

<style>
  .header-animated {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    animation: fade-bg linear both;
    animation-timeline: scroll();
    animation-range: 0 150px;
  }
  @keyframes fade-bg {
    0% {
      background-color: rgba(0, 0, 0, 0);
    }
    100% {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  section {
    scroll-margin-top: 100px;
  }
</style>

<script>
  const menuHamburger = document.querySelector("#hamburger-icon");
  const mobileNavbar = document.querySelector("#mobile-navbar");
  menuHamburger?.addEventListener("click", () => {
    mobileNavbar?.classList.toggle("hidden");
  });
  const tagsGoToSection = document.querySelectorAll("#tag-go-to-section");
  tagsGoToSection.forEach((tag) => {
    tag.addEventListener("click", () => {
      mobileNavbar?.classList.toggle("hidden");
    });
  });
</script>
