---
interface Props {
  title: string;
  description: string;
  image: string;
  alt: string;
  tags: {
    image: "python" | "tableau";
    title: string;
    alt: string;
  }[];
}
const { title, description, image, alt, tags } = Astro.props as Props;
import TagProgrammingLanguage from "@components/TagProgrammingLanguage.astro";
import linkedinIcon from "@svg/linkedin.svg";
import githubIcon from "@svg/github.svg";
---

<div
  class="max-w-80 flex flex-col justify-center items-center gap-4 border-gray-custom border-2 rounded-2xl p-6"
>
  <div class="flex justify-center items-center w-64 h-56 rounded-2xl">
    <img src={image} alt={alt} class="w-full h-full rounded-2xl bg-fill" />
  </div>
  <p class="text-lg sm:text-xl font-bold">{title}</p>
  <p class="text-sm sm:text-base line-clamp-5">{description}</p>
  <div class="flex flex-row flex-wrap gap-2 justify-start items-center w-full">
    {tags.map((tag) => <TagProgrammingLanguage {...tag} />)}
  </div>
  <div class="flex flex-row gap-2 justify-end items-center w-full">
    <span class="w-8 h-8 cursor-pointer">
      <img
        src={linkedinIcon.src}
        alt="LinkedIn Profile"
        class="w-full h-full"
      />
    </span>
    <span class="w-8 h-8 cursor-pointer">
      <img src={githubIcon.src} alt="GitHub Profile" class="w-full h-full" />
    </span>
  </div>
</div>
